*{
  margin: 0;
  padding: 0;
}

.profilepage{
  background-color: #a4f9ff;
  justify-content: start;
  align-items: center;
  height: 100vh;
}

.text{
  align-items: center;
}
.container{
  height: 280px;
  width: 400px;
  border-radius: 50;
  background-color: #F8FFFF;  
}
.heading{
  text-align: center;
  font-family: system-ui;
  margin-top: 1rem;
  color: #0099A4;
  font-weight: bold;

}

.button {
  background-color: #0099A4;
  border: none;
  color:white;
  padding: 2px 12px;
  text-align: center;
  margin: auto;
}

.contain-img{
  margin: auto;
  width: 150px;
  height: 150px;
  border: 3px #0099A4;
  border-radius: 5px;
  margin-top: 1rem;
}
.img{
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.label{
  width: 100%;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}
.upload-img{
  margin: auto;
  width: 180px;
	height: 30px;
  color: white;
  background-color:#0099A4;
  text-align: center;
  cursor: pointer;
}

#input[type="file"] {
	display: none;
}